<img src="http://imgmp.mlstatic.com/org-img/banners/ar/medios/575X40.jpg" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" width="575" height="40"/>


<script>
    MercadoPago.paymentMethodID = "<%= payment_method.id %>"
</script>


<%= link_to(image_tag("https://a248.e.akamai.net/secure.mlstatic.com/components/resources/mp/css/assets/desktop-logo-mercadopago.png"), '#',:'data-url' => mercado_pago_checkout_options_path, :'data-payment-method-id' => payment_method.id, :method => :post, :id => "mercado_pago_button", class: :mercado_pago_button) %>

<!-- Paste this code before closing the tag </body> -->
<script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
